<!-- Generated template for the MemberCardComponent component -->
<div ion-row align-items-center class="card">
  <div ion-col col-3 class="card-image">
    <img src="https://99designs-start-attachments.imgix.net/alchemy-pictures/2016%2F02%2F22%2F04%2F23%2F21%2Ffb7144f7-5f43-4932-aa5f-bc42befa3308%2F533051_Project%204.png?auto=format&ch=Width%2CDPR&w=500&h=500">
  </div>

  <div ion-col class="card-description">
    <div class="p1">
    
      <h3>
        In aliquip
      </h3>

      <p>
        <ion-icon name="md-locate" style="vertical-align: middle"></ion-icon> 221B, Baker Street
      </p>
    
    </div>

    <ion-row class="p2">
      <ion-col col-6>
        <button ion-button block color="primary" round>Contact</button>
      </ion-col>
      <ion-col col-6>
          <button ion-button block color="dark" round>Message</button>
      </ion-col>
    </ion-row>
  </div>
</div>
