page-sign-up {

    ion-segment {
        button:first-child {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }
        button:last-child {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }
    }

    ion-list {
        ion-item:last-child {
            border-bottom-width: 0 !important;
        }
    }

    .form-control {
        position: relative;
    }

    .error {
        position: absolute;
        right: 25px;
        top: 5%;
        
        & > ion-icon {
            font-size: 25px;
        }
    }
}